{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'rental/master.css' %}">
  <link rel="stylesheet" href="{% static 'rental/utilities.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Rental</title>
</head>
<body>
  <!-- Navbar -->
  <main class="content">
      <nav>
        <ul class="right">
          <li><a href="#">Buy</a></li>
          <li><a href="#">Rent</a></li>
          <li><a href="#">Sell</a></li>
          <li><a href="#">Agent Finder</a></li>
        </ul>



        <ul class="left">
          <li><a href="#">Sign In</a> </li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Advertise</a></li>
          <li><a href="#">Manage Rentals</a></li>
        </ul>
      </nav>

      <div id="logo">
        <img src="/static/rental/logo.jpg" alt="logo">
      </div>

    </main>

    <!-- Display Image -->
    <img src="/static/rental/hse.jpg" alt="img">
    <div class="container">
      <div class="box">
        <h1>Simply Smarter Home Search</h1>
        <form class="example" action="index.html" method="post">
          <input type="text" name="" placeholder="Search by Location" value="">
          <input type="submit" name="" value="Search">
        </form>
      </div>

    </div>

    <!-- Footer -->
    <footer class="footer bg-dark py-5">
      <div class="container grid grid-3">
        <div>
          <h1>Arexa Rentals</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        <nav>
          <ul>
            <li><a href="#">Rent</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="#">Buy</a></li>
          </ul>
        </nav>
        <div class="socials">
          <a href=""><i class="fab fa-github fa-2x"></i></a>
          <a href=""><i class="fab fa-twitter fa-2x"></i></a>
          <a href=""><i class="fab fa-facebook fa-2x"></i></a>
          <a href=""><i class="fab fa-reddit fa-2x"></i></a>
          <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
    </footer>
  
</body>
</html>
