{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Arexa Rentals</title>
    <!-- CSS only -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
      href="{% static 'rental/master.css' %}">
  </head>
  <body>
    <main class="content">
      <nav>
        <ul class="right">
          <li><a href="#">Buy</a></li>
          <li><a href="#">Rent</a></li>
          <li><a href="#">Sell</a></li>
          <li><a href="#">Agent Finder</a></li>
        </ul>

        <ul class="left">
          <li><a href="#">Sign In</a> </li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Advertise</a></li>
          <li><a href="#">Manage Rentals</a></li>
        </ul>
      </nav>

    </main>

    <div class="container-fluid">
      <img src="/static/rental/house.jpg" alt="img">

      <div class="box">
        <h1>Simply Smarter Home Search</h1>
        <form class="example" action="index.html" method="post">
          <input type="text" name="" placeholder="Search by Location" value="">
          <input type="submit" name="" value="Search">
        </form>
      </div>

    </div>

    <div class="container">
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/static/rental/rental.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/static/rental/rental.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/static/rental/rental.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>


      <div id="main_content">
        {% block content %} {% endblock %}
      </div>

    </div>

    <footer>
  		<div class="footer">
  		  <h5>Copyright &copy; 2021. All Rights Reserved</h5>
  		</div>
	 </footer>



    <!-- JavaScript Bundle with Popper -->
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>
  </body>
</html>
