{% extends 'rental/base.html' %}

{% block content %}

  <!-- Display Image -->
  <div class="display">
  <img src="/static/rental/sky3.jpg" alt="img">
  </div>

  <div class="container">
  <div class="box">
    <h1 style='font-size: 45px;'>Simply Smarter Home Search</h1>
    <!-- <form class="example" action="index.html" method="post">
      <input type="text" name="" placeholder="Search by Location" value="" required>
      <input type="submit" name="" value="Search">
    </form> -->
  </div>
  </div>

  <!-- Info Section -->
  <section class="info bg-light">
    <h2 class=" md text-center my-2">Whether you're buying selling or renting,
      We can help you move forward.
    </h2>
    <div class="container flex">
      <div class="card">
        <img src="/static/rental/rental.jpg" alt="">
        <h1>Buy a Home</h1>
        <p>Find your place with an immersive photo experience and most listings, including things
          you won't find anywhere else.
        </p>
        <a href="" class="btn btn-primary my-2">Search Homes</a>
      </div>

      <div class="card">
        <img src="/static/rental/rental.jpg" alt="">
        <h1 class="text-center">Sell a Home</h1>
        <p>Find your place with an immersive photo experience and most listings, including things
        you won't find anywhere else.
        </p>
        <a href="" class="btn btn-primary my-2">See your options</a>
      </div>

      <div class="card">
        <img src="/static/rental/rental.jpg" alt="">
        <h1 class="text-center">Rent a Home</h1>
        <p>Find your place with an immersive photo experience and most listings, including things
          you won't find anywhere else.
        </p>
        <a href="" class="btn btn-primary my-2" >Find rentals</a>
      </div>
    </div>
  </section>
{% endblock content %}
