{% extends 'rental/base.html' %}

{% block content %}
  <section class="detail bg-light">
    <div class="grid">
        {% for detail in images %}
          <div class="card">
            <img src="{{ detail.image.url }}" alt="">
          </div>
        {% endfor %}
    </div>

    <div class="hse container grid">
        <div class="text-center">
          <h2 class="md">{{ object.price }}</h2>
          <h4>{{ object.title }}</h4>
        </div>

        <div class="card download text-center">
          <h2 class="md">{{ object.price }}</h2>
            <h4>{{ object.title }}</h4>
            <a href="#" class="btn btn-dark m-2">Download Info</a>
          </div>
    </div>

  </section>
{% endblock content %}
