{% extends 'rental/base.html' %}

{% block content %}
<section class="rental bg-light">
  <h4 class="md text-center my-2">Explore Rentals in Nairobi, Nrb</h4>
    <div class="grid grid-4">
      {% for house in object_list %}

            <div class="card text-center">
              <img src="{{ house.image.url }}" alt="">
              <h2 class="m-2">Kshs. {{ house.price }}</h2>
              <p>{{ house.title }} in {{ house.estate }}</p>
              <p>Posted on {{ house.pub_date|date }}</p>
            </div>

      {% empty %}
        <h2 class="text-center">No Apartments yet!</h2>
      {% endfor %}
    </div>


</section>

{% endblock content %}
