{% extends 'rental/base.html' %}

{% block element %}
<div class="grid grid-4">
  <h3 class="text-center">Search results for {{name}}</h3>
  <!-- {% for house in object_list %}

        <div class="card text-center">
          <img src="{{ house.image.url }}" alt="">
          <h2 class="m-2">Kshs. {{ house.price }}</h2>
          <p><a href="{% url 'post-detail' house.id %}">{{ house.title }} in {{ house.estate }}</a></p>
          <p>Posted on {{ house.pub_date|date }}</p>
        </div>

  {% empty %}
    <h2 class="text-center">No Apartments yet!</h2>
  {% endfor %} -->
</div>
{% endblock %}
